/* body */
:root{
    --primary-color:#ff8000;
    --second-color: #cc5200;
    --third-color: #ff704d;
    --background:#f0f0f0;
}

body{
 padding: 0;
 margin:0;
 /* border: 1px solid #ce4c15; */
 background-color: var(--background) !important;
 position: relative;

}
a{
    text-decoration: none !important;
   
}
ul{
    list-style: none;
}
/* --------------------------------------------------------------------- */

.wrapper{
    /* border: 1px solid salmon; */
    background-color:var(--background);
    
    
    
}
.body{
    height: auto;
    width: 90%;
    margin: 0 auto;
    
}
header,
.main,
.product-catarogy,
footer{
       background-color:#fff;
}

/* header */

header{
    height: auto;
    width: 100%;
    display:flex;
    position: fixed;
    top: 0;
    z-index: 5;
 
   
}
.header-left,
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-left{
    flex: 1;  
    padding: 10px;
    margin-left: 80px;
}
.logo{
     width: 100%;
     height: 100%;
     text-align: center;
     border-radius: 10px;
   
}

header .header-center{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;

}
.header-center__input{
    width: 700px;
    height: 40px;
    border: 2px solid #ffd6cc;
    border-radius: 5px;
    outline: none;
}
.header-center__input:focus{
    border: 2px solid #ed6745;
}
.header-center__btn{
    margin-left: 10px;
    font-size: 23px;
    background-color:var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    padding: 0 10px;
}
.header-right{
    flex:2;
}
.header-right__icon{
    font-size: 25px;
    color: var(--primary-color);
    margin: 0 25px;
}
.header-center__btn:hover,
.header-right__icon:hover{
    color: #cf8674;
    opacity: 0.8;
}
/* ---------------------------------------------------------------- */

/* slider */
.slider{
    /* border: 1px solid #1a75ff; */
    height: auto;
    width: 100%;
    margin-top: 150px;
    
}
.slider-img{
    border-radius: 10px !important;
    height: 450px !important;
    width: inherit !important;
    
}


/* catagory */
.product-catarogy{
    height: 250px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    margin: 20px 0px;
    
}
.catagory-header{
    text-align: left;
    color:var(--third-color);
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid #b1adad;

}

.catagory-header__icon{
    width: 5%;
    height: 5%;
    padding: 5px;
}
.catarory-main{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.catagogy-item{
    flex: 1;
}
.catagogy-item:hover{
    opacity: 0.7;
}

/* -------------------------------------------------------------- */


/* main */
.main{
    /* border: 1px solid #ff1a1a; */
    height: auto;
    width: 100%;
    display: block;
    margin-top: 20px;

   
}
.product-list{
    text-align: center;
    padding: 20px 0px;
}
.product-list li{
    /* border: 1px solid #e70e0e; */
    width: 18%;
    padding: 5px;
    background-color: #fff;
    display:inline-flex;
    margin-top: 10px;
    
}
.product-list li{
    padding: 5px;
    position: relative;
}
.product-list li:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sale{
    background-color: #f4852b;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;

}
.sale-label{
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}
.product-img{
    margin: 0 auto;
    width: 100%;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}
.book-name,
.price,
.old-price,
.sp-rating{
    text-align: left;
    padding-left: 15px;
    
}
.book-name{
    color: #000;
    font-weight: 500;
    display: block;
  	display: -webkit-box;
  	height: 34px;
  	font-size: 17px;
  	line-height: 1;
  	-webkit-line-clamp: 2;  /* số dòng hiển thị */
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-top:15px;

}
.sp-rating{
    color: #ffd700;
}
.price{
    font-size: 18px;
    color: #f90707;
    font-weight: 600;
    margin: 0px;
} 

.old-price{
    color: #a7a7a7;
    font-size: 15px;
    text-decoration: line-through;
    margin-bottom: 0px;
}
.list_page{
    padding-bottom: 30px;
}
.page-item{
    background-color: #f4852b;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 600;
    text-align: center
}
.page-item a{
    color: #fff;
}
.page-items{
    display: flex;
   
}
/* ------------------------------------------------------------ */


/* footer */
footer{
    /* border: 1px solid #ffff4d; */
    border-radius: 5px;
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}
.footer-right,
.footer-left{
    margin-top: 30px;
}

.footer-left{
    flex: 4;
    border-right: 1px solid #8b8989;
}
.footer-left__logo1{
    width: 30%;
}
.footer-left__head{
    display: flex;
    
}
.footer-left__logobrand{
    width: 29%;
}
.left__logobrand{
    width: 120%;
}
.footer-left__content{
   margin: 0px 20px;
   width: 70%;
   float: left;
}
.left__content,
li{
     font-size: 14px;
     font-weight: 400;
     color: #716f6f;
}
li{
    line-height: 30px;
}
.footer-left__logomedia,
.footer-left__logoapp,
.footer-left__logo{
    margin: 10px 20px;
}

.left__logoapp,
.right__logoapp{
    width: 150px;
    height: 50px;
}


.footer-right{
    flex: 6;
    
}
.footer-right__list{
    display: flex;
}
.footer-right__header
{
    font-size: 15px;
    font-weight: 700;

}
.right__iconfi{
    width: 13%;
    height: 10%;
    margin: 10px;
}

/* ------------------------------------------------------ */

.clear{
    clear: both;
}
